@page
@model MyWebbApp.Pages.Admin_Pages.Details_AccountModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserNick)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserNick)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.UserPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users.Echelon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.Echelon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit_Account" asp-route-id="@Model.Users?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

