@page 
@model MyWebbApp.Pages.F1PredictorModel
@{
    ViewData["Title"] = "F1_prediction";
}



<head>
    <link rel="stylesheet" href="wwwrooot/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="wwwrooot/assets/css/memescs.css">
    <link rel="stylesheet" href="wwwrooot/assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="stylesheet" href="wwwrooot/assets/css/Projects-Grid-Horizontal-images.css">
    <link rel="stylesheet" href="wwwrooot/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
</head>




<body>
    <div class="text-center">
        <h1 class="display-4">Here is F1 predictor!</h1>
        <p>
            I used 2 APIs, <a href="http://ergast.com/mrd/">ergastAPI</a> and <a href="https://docs.fastf1.dev/">FastF1API</a>.
            Choose the race of season 2023. <br>
            The models used in project are methods of artificial intelligence SVC and RF.
        </p>
        <form method="post">
            <label for="seasonNumber">Select Season:</label>
            <select asp-for="SelectedSeasonNumber" id="seasonNumber" name="SelectedSeasonNumber" class="form-control">
                @for (int i = 2023; i <= 2024; i++)
                {
                    var selected = (Model.SelectedSeasonNumber == i) ? "selected" : "";
                    <option value="@i" selected="@selected">Season @i</option>
                }
            </select>
            <label for="raceNumber">Select Race Number:</label>
            <select asp-for="SelectedRaceNumber" id="raceNumber" name="SelectedRaceNumber" class="form-control">
                @for (int i = 1; i <= 24; i++)
                {
                    var selected = (Model.SelectedRaceNumber == i) ? "selected" : "";
                    <option value="@i" selected="@selected">Race @i</option>
                }
            </select>
            <button type="submit" class="btn btn-primary mt-2">Get Race Data</button>
        </form>

        @if (Model.RaceDataList != null && Model.RaceDataList.Count > 0)
        {
            <h3>Race Data for Race @Model.SelectedRaceNumber in Season @Model.SelectedSeasonNumber</h3>
            <table class="table" id="raceTable">
                <thead>
                    <tr>
                        <th>Driver</th>
                        <th>Team</th>
                        <th>Qualifying Position</th>
                        <th>Race Prediction Rf</th>
                        <th>Race Prediction SVC</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.RaceDataList)
                    {
                        <tr>
                            <td>@data.driver</td>
                            <td>@data.team</td>
                            <td>@data.position_quali</td>
                            <td>@data.pred_pos_rf</td>
                            <td>@data.pred_pos_svc</td>
                            <!-- Add more cells as needed -->
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No data available for the selected race.</p>
        }
    </div>



    

@section Scripts {
    
    <script src="wwwroot/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="wwwroot/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                var constructor_colors = {
                    'AlphaTauri': 'gray',
                    'Visa Cash Rb': 'gray',
                    'Alpine': 'blue',
                    'Red Bull': 'navy',
                    'Kick Sauber': 'lightgreen',
                    'Alfa Romeo': 'maroon',
                    'Williams': 'lightblue',
                    'Aston Martin': 'darkgreen',
                    'Mclaren': 'orange',
                    'Mercedes': 'silver',
                    'Ferrari': 'red',
                    'Haas': 'black'
                };
                $('#raceTable').DataTable({
                    "order": [[1, "asc"]],
                    "createdRow": function (row, data, dataIndex) {
                        var team = data[1]; 
                        if (constructor_colors[team]) {
                            $(row).css('background-color', constructor_colors[team]);
                        }
                    }
                });
            });
        </script>

}
</body>
